/*CUSTOM WAVE*/
.navbar .container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}
.sidebar-menu.icon-small .icon {
	display: inline-block !important;
	width: 40px !important;
	height: 40px !important;
	font-family: "Open Sans", serif;
}
.sidebar-menu.icon-small ul.sidebar-nav > li > a {
	text-align: left !important;;
	margin-left: 10px !important;
	margin-right: 10px !important;
	padding: 0.3rem 0 !important;
	font-family: "Open Sans", serif;
}
.sidebar-menu.icon-small ul.sidebar-nav > li > a:hover > .title {
	transform: scale(1.25);
	font-size: 1em;
	font-family: "Open Sans", serif;
}
.sidebar-menu.icon-small .icon > i {
	font-size: 1.5em !important;
	font-family: "FontAwesome";
}
.app-sidebar {
	height: 100% !important;
}
.sidebar-menu.icon-small .sidebar-nav * {
	font-family: "Open Sans", serif;
}

.avatar-icon {
	background-color: rgba(141, 146, 147, 0.15);
	color: rgba(141, 146, 147, 0.45);
	display: -ms-flexbox;
	display: flex;

	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	display: block;
	margin: 0.5em auto;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: #FFF;
}

.avatar-icon .fa {
	width: 100%;
	height: 100%;
	font-size: 2em;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	transition: transform 0.2s ease;
}
table.table > tbody > tr td.button-group {
	padding: 7px 30px;
	text-align: center;
}
.dataTables_length {
	display: none;
}
.card .card-header {
	padding: 5px;
	padding-left: 15px;
	display: block;
	font-size: 1.3em;
	line-height: 34px;
}

.card .card-header .btn {
	margin-right: 5px;
}
.card .card-header.card-header-config {
	height: 48px;
}
.dataTables_wrapper > div.top {
	right: auto;
	left: 23px;
	top: 47px;
	padding: 7px;
	width: 100%;
}
.table-search input.form-control{
	margin-bottom: 0px;
	padding: 5px 15px;
	height: 30px;
	border-radius: 5px;
	width: 400px;
	margin-left: 0;
	color: #8d9293;
	font-size: 14px;
	font-weight: 400;
}
.table-search{
	display: inline-block;
	width: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.table-button{
	float:right;
	width: auto !important;
}
.table-button .btn.table-setting {
	line-height: 16px;
	border-bottom-width: 1px;
	border-color: lightgrey;
	border-bottom-color: lightgrey;
	background-color: white;
	color: #635d5d;
	margin-left: 2px;
	margin-right: 2px;
	width: 42px;
	margin-top: 2px;
}

.btn.table-setting i {
	font-size: 20px;
	line-height: 20px;
}

.dataTables_wrapper > .top .dataTables_filter {
	width: 100%;
	-ms-flex: 1;
	flex: 1;
	margin-right: 200px;
}

.dataTables_wrapper .bottom {
	padding: 8px 30px;
}

.pagination > li > a, .pagination > li > span {
	padding: 3px 12px;
}

div.dataTables_wrapper div.dataTables_info {
	padding-top: 4px;
}

@media (max-width: 991px) {
	.dataTables_wrapper > .top {
		padding: 5px;
	}

	.dataTables_wrapper > .top .dataTables_filter .form-control {
		padding: 5px 15px;
	}
	.hidden-sm {
		display: none !important;
	}
	.avatar-icon {
		width: 35px;
		height: 35px;
	}
	.avatar-icon .fa {
		font-size: 1.2em;
	}
	.card .card-header, .card.card-header {
		padding-bottom: 80px;
	}
	.dataTables_wrapper div.top {
		right: auto;
		left: 20px;
		top: 70px;
		width: 100%;
	}
	.dataTables_wrapper .top .dataTables_filter {
		margin-right: 40px;
	}
}
.btn-upload {
	width: 200px;
	height: 150px;
}
select.form-control, .select2-selection {
	width: auto;
	border-radius: 2px;
	padding: 0px 15px;
	height: 30px;
	font-size: 1em;
	border: 1px solid #c8d1d3;
	background-color: transparent;
	box-shadow: none;
	margin-bottom: 10px;
}
.datepicker.form-control {
	width: auto;
	border-radius: 2px;
	padding: 10px 15px;
	height: auto;
	font-size: 1em;
	border: 1px solid #c8d1d3;
	background-color: transparent;
	box-shadow: none;
	margin-bottom: 15px;
}
.widthAuto {
	width: auto;
}
.image-selector-wrapper {
	float: left;
	margin-right: 10px;
	position: relative;
}
.thumbnail > img {
	max-height: 100%;
}
.card {
	margin-bottom: 30px;
}
.lobipanelsection {
	display: none;
}
.btn-upload.thumbnail {
	position: relative;
	margin-bottom: 10px;
}
.btn-upload.disabled {
	cursor: not-allowed;
}
.image-selector-wrapper, .image-selector-wrapper > div {
	-webkit-transition: all 1s; /* Safari */
	transition: all 1s;
}
.image-selector-wrapper .image-display-icon {
	top: -10px;
	left: -10px;
	position: absolute;
	background-color: white;
	padding: 10px;
	border-radius: 20px;
	font-size: 30px;
	color: black;
	opacity: 0;
	-webkit-transition: all 1s; /* Safari */
	transition: all 1s;
	border: 1px solid #ddd;
	cursor: pointer;
}
.image-selector-wrapper:hover .image-display-icon {
	opacity: 1;
}
.image-selector-wrapper .image-delete-icon {
	top: -10px;
	right: -10px;
	position: absolute;
	background-color: white;
	padding: 10px;
	border-radius: 20px;
	font-size: 30px;
	color: red;
	opacity: 0;
	-webkit-transition: all 1s; /* Safari */
	transition: all 1s;
	border: 1px solid #ddd;
	cursor: pointer;
}
.image-selector-wrapper:hover .image-delete-icon {
	opacity: 1;
}
.dashboard-amount {
	font-size: 30px;
}
.card-header.card-header-full > div {
	width: 100%;
}
.input-group.input-date-range {
	width: auto;
}
.input-date-range .datepicker.form-control {
	margin-bottom: 0px;
}
.input-date-range .input-group-addon {
	background-color: #eee;
}
.select2-selection.select2-selection--single .select2-selection__rendered {
	top: 0px;
	position: absolute;
	line-height: 30px;
	padding: 0px;
	padding-right: 50px;
}
.select2-selection {
	margin-bottom: 0px !important;
}
.tt-dropdown-menu > div {
	padding-left: 5px;
}
.tokenfield {
	padding: 6px 6px;
}
.tokenfield .twitter-typeahead {
	margin-right: -20px;
}
.tokenfield .token, .tokenfield .token-input, .tokenfield .twitter-typeahead .tt-hint {
	margin: 0px 5px 0px 0;
	height: 28px;
	line-height: 28px;
}
.tokenfield .token .close, .tokenfield .token-input, .tokenfield .twitter-typeahead .tt-hint {
	line-height: 28px;
}
.sa-button-container .btn {
	font-size: 14px;
	height: 42px;
}
div.sweet-overlay {
	z-index: 100110;
}
div.sweet-alert {
	z-index: 100111;
}
.bold {
	font-weight: bold;
}
.collapse-setting {
	padding: 0px 0px 15px 0px;
	margin-bottom: 20px;
	border: 2px solid #eee;
}
hr.bold {
	border-top: 1px solid grey;
}
.setting-row {
	margin: 5px 0px;
}
.setting-row input {
	padding: 10px 5px;
}
.setting-row-main {
	padding: 10px 15px;
	background-color: #eee;
}
.setting-row-main input, .setting-row-main span, .setting-row-main .input-group {
	background-color: white;
}
.setting-row .input-group {
	margin-bottom: 0px;
}
.nopad {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.setting-row-sub {
	padding: 5px 15px;
}
.setting-row-sub > div {
	word-wrap: break-word;
}
.autonumeric {
	text-align: right;
}
.setting-label-currency {
	display: inline-block;
	width: 42px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	font-weight: bold;
}
.setting-label-total {
	width: auto;
	padding-right: 7px;
	font-weight: bold;
	height: 42px;
	line-height: 42px;
}
.setting-error {
	border: 2px solid red !important;
}
.setting-error-total {
	color: red;
}
.ct-series-a .ct-slice-pie {
	fill: #f05b4f !important;
}
.ct-series-b .ct-slice-pie {
	fill: #2da549 !important;;
}
.fstElement.fstMultipleMode, .fastselect, .fastselect > div {
	font-size: 14px;
	line-height: 30px;
	height: 30px;
}
.fstElement.fstMultipleMode {
	height: auto;
}
.fstElement.fstMultipleMode .fstControls {
	padding: 0px;
	width: 100%;
}
.fstElement.fstMultipleMode .fstControls .fstQueryInput {
	line-height: 33px;
	font-size: 14px;
	height: 30px;
	margin: 0px;
}

.fstElement.fstMultipleMode .fstChoiceItem {
	height: 30px;
	margin: 5px;
	padding: 0px .33333em .33333em 1.5em;
	line-height: 30px;
	font-size: 14px;
}
.fstElement.fstMultipleMode .fstResultItem, .fstElement.fstMultipleMode .fstNoResults {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	padding: 0px .71429em;
}
.fstQueryInput {
	height: 30px;
}
.fstElement.fstMultipleMode.disabled {
	background-color: #eee;
	cursor: not-allowed;
}
.fstElement.fstMultipleMode.disabled div, .fstElement.fstMultipleMode.disabled .fstChoiceRemove {
	cursor: not-allowed;
}
.fstElement.fstMultipleMode {
	margin-bottom: 15px;
	padding: 0px 10px;
	width: 100%;
}
.logo-admin {
	padding: 10px !important;
	max-height: 50px;
	max-width: 120px;
	text-align: center;
	margin: auto;
}
.select2 *, .select2 {
	max-width: 100%;
}
.select2 {
	width: 100% !important;
}

.dataTables_wrapper table.dataTable > tbody > tr > td {
	padding-left: 10px;
	padding: 8px 30px;
}

.dataTables_wrapper table.dataTable > thead > tr > th {
	padding: 6px 30px;
}

.dataTables_wrapper table.dataTable > thead > tr > th:first-child, .dataTables_wrapper table.dataTable > tbody > tr > td:first-child {
	padding-left: 20px;
}
.dataTables_wrapper table.dataTable > tbody > tr > td.td-button, .td-button {
	padding: 6px 30px;
}

.dataTables_wrapper table.dataTable > tbody > tr > td.td-button .btn.btn-xs {
	padding: 3px 10px;
}
.td-button button {
	margin-bottom: 0px;
}
.logo-login {
	max-width: 500px;
}
.lang-icon {
	width: 40px;
	margin: 5px;
	opacity: 0.2;
	cursor: pointer;
}
.lang-icon:hover {
	opacity: 0.6;
}
.lang-icon.active {
	opacity: 1 !important;
}
.datepicker.form-control:disabled {
	background-color: #eee;
}
.note-editor.note-frame .note-editing-area .note-editable {
	min-height: 100px;
}
aside.app-sidebar .sidebar-menu ul.sidebar-nav > li.dropdown .dropdown-menu li.dropdown:hover .dropdown-menu.sub-dropdown {
	visibility: visible;
}
aside.app-sidebar .sidebar-menu ul.sidebar-nav > li.dropdown .dropdown-menu.sub-dropdown {
	visibility: hidden;
}
.form-check-label {
	height: 42px;
	line-height: 42px;
	font-weight: 100;
	margin-right: 20px;
	user-select: none;
}
.nav-tabs > li a, .nav-tabs > li a:focus, .nav-tabs > li a:hover {
	padding: 10px 15px;
	border: 1px solid transparent;
}
.app-container .navbar .nav > li > a {
	padding: 0px;
	padding-left: 15px;
	border: 1px solid transparent;
}
.nav > li > a {
	padding: 10px 15px;
	border: 1px solid transparent;
}
table.table.small-row > tbody > tr td {
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 31px;
}
table.table.small-row > tbody > tr td .btn {
	margin-bottom: 0px;
}

table.table.small-row > tbody > tr td .btn {
	margin-bottom: 0px;
}
.datatable.table {
	display: none;
}
.dataTables_scrollHeadInner, .dataTables_scrollBody > table {
	width: 100% !important;
}
.datepicker.form-control {
	margin-bottom: 0px;
}
.datepickerinput > .input-group-addon, .timepickerinput > .input-group-addon {
	border-left: 1px solid #c8d1d3;
}
.datepickerinput > input, .timepickerinput > input {
	width: 120px;
}
.datepickerinput, .timepickerinput {
	width: auto;
	padding: 0px;
	border-radius: 2px;
}
.select2.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 30px;
}
.select2.select2-container--default .select2-selection--single .select2-selection__arrow {
	line-height: 30px;
	height: 30px;
	top: 50%;
}
.select2-container {
	margin-bottom: 10px;
}
.select2-container.select2-container--default.select2-container--open {
	z-index: 200000; 
}
.dataTables_scrollBody {
	position: relative;
	overflow-x: auto !important;
	overflow-y: auto !important;
	width: 100%;
}

.dataTables_scrollBody .dropdown-menu {
	right: 0px;
}
aside.app-sidebar .sidebar-header {
	height: 60px;
}
.navbar {
	height: 60px;
}
.navbar .navbar-collapse .navbar-nav {
	height: 59px;
	padding-right: 25px;
}
.navbar .navbar-collapse .navbar-nav > li.navbar-title {
	padding-left: 0px;
}
.nav .username {
	font-size: 14px;
	font-weight: bold;
}
.nav .email {
	font-size: 11px;
}
.nav-tabs > li.active a, .nav-tabs > li.active a:focus, .nav-tabs > li.active a:hover {
	font-weight: bold;
}
.card .nav-tabs {
	margin-bottom: 5px;
}
.card .card-body {
	padding: 10px;
	border-top: 1px solid #dfe6e8;
}
input.form-control, textarea.form-control {
	height: 30px;
	margin-bottom: 10px;
	padding: 5px 10px;
}

textarea.form-control {
	min-height: 100px;
}

.note-editor.panel {
	margin-bottom: 10px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: #333;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #8fe0a2;
	border: 1px solid #999;
	color: #333;
	margin-top: 4px;
}
select.form-control, .select2-selection {
	height: auto;
	padding: 5px 10px;
}
.card .inside-tab .nav-tabs {
	margin-bottom: 0px;
}
.inside-tab .content {
	border-radius: 4px;
	float: left;
	width: 100%;
	padding: 15px;
	border: 1px solid #ddd;
}
/*# sourceMappingURL=style.css.map */
.dataTables_wrapper .top .dataTables_filter .form-control {
	padding: 5px 15px;
	height: 30px;
	border-radius: 5px;
	width: 400px;
}
.form-horizontal .form-group {
	margin-right: 0px;
	margin-left: 0px;
}

.listSection .card-body > .row, .row.adjust-row {
	margin-right: 0px;
	margin-left: 0px;
}

.avatar-icon-counter {
	border-radius: 50%;
	background-color: lightgreen;
	height: 25px;
	line-height: 25px;
	width: 25px;
	text-align: center;
	position: absolute;
	top: 5px;
	left: -10px;
	color: white;
	z-index: 100;
}

/* SHAKE */
@-webkit-keyframes wrench {
	0% {
		-webkit-transform: rotate(-12deg);
		transform: rotate(-12deg);
	}

	4% {
		-webkit-transform: rotate(12deg);
		transform: rotate(12deg);
	}

	5% {
		-webkit-transform: rotate(24deg);
		transform: rotate(24deg);
	}

	9% {
		-webkit-transform: rotate(-24deg);
		transform: rotate(-24deg);
	}

	10% {
		-webkit-transform: rotate(-24deg);
		transform: rotate(-24deg);
	}

	14% {
		-webkit-transform: rotate(24deg);
		transform: rotate(24deg);
	}

	15% {
		-webkit-transform: rotate(24deg);
		transform: rotate(24deg);
	}

	19% {
		-webkit-transform: rotate(-24deg);
		transform: rotate(-24deg);
	}

	20% {
		-webkit-transform: rotate(-24deg);
		transform: rotate(-24deg);
	}

	24% {
		-webkit-transform: rotate(24deg);
		transform: rotate(24deg);
	}

	25% {
		-webkit-transform: rotate(24deg);
		transform: rotate(24deg);
	}

	29% {
		-webkit-transform: rotate(-24deg);
		transform: rotate(-24deg);
	}

	30% {
		-webkit-transform: rotate(-24deg);
		transform: rotate(-24deg);
	}

	34% {
		-webkit-transform: rotate(24deg);
		transform: rotate(24deg);
	}

	37% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@keyframes wrench {
	0% {
		-webkit-transform: rotate(-12deg);
		-ms-transform: rotate(-12deg);
		transform: rotate(-12deg);
	}

	4% {
		-webkit-transform: rotate(12deg);
		-ms-transform: rotate(12deg);
		transform: rotate(12deg);
	}

	5% {
		-webkit-transform: rotate(24deg);
		-ms-transform: rotate(24deg);
		transform: rotate(24deg);
	}

	9% {
		-webkit-transform: rotate(-24deg);
		-ms-transform: rotate(-24deg);
		transform: rotate(-24deg);
	}

	10% {
		-webkit-transform: rotate(-24deg);
		-ms-transform: rotate(-24deg);
		transform: rotate(-24deg);
	}

	14% {
		-webkit-transform: rotate(24deg);
		-ms-transform: rotate(24deg);
		transform: rotate(24deg);
	}

	15% {
		-webkit-transform: rotate(24deg);
		-ms-transform: rotate(24deg);
		transform: rotate(24deg);
	}

	29% {
		-webkit-transform: rotate(-24deg);
		-ms-transform: rotate(-24deg);
		transform: rotate(-24deg);
	}

	20% {
		-webkit-transform: rotate(-24deg);
		-ms-transform: rotate(-24deg);
		transform: rotate(-24deg);
	}

	24% {
		-webkit-transform: rotate(24deg);
		-ms-transform: rotate(24deg);
		transform: rotate(24deg);
	}

	25% {
		-webkit-transform: rotate(24deg);
		-ms-transform: rotate(24deg);
		transform: rotate(24deg);
	}

	29% {
		-webkit-transform: rotate(-24deg);
		-ms-transform: rotate(-24deg);
		transform: rotate(-24deg);
	}

	30% {
		-webkit-transform: rotate(-24deg);
		-ms-transform: rotate(-24deg);
		transform: rotate(-24deg);
	}

	34% {
		-webkit-transform: rotate(24deg);
		-ms-transform: rotate(24deg);
		transform: rotate(24deg);
	}

	37% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}
.faa-shake.animated,
.faa-shake.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-shake {
	-webkit-animation: wrench 4s ease infinite;
	animation: wrench 4s ease infinite;
}

/*REVAMP NOTIFICATION*/
.navbar .navbar-collapse .navbar-nav > li.dropdown:hover:after {
	transform: translate(-50%, 6px);
}
.navbar .navbar-collapse .navbar-nav > li.dropdown:after {
	left: 62%;
}
.navbar .navbar-collapse .navbar-nav > li.dropdown:hover .dropdown-menu {
	transform: translate(0, 6px);
}
.dropdown:not(.notification) .profile-info {
	display: none;
}
.dropdown.notification .dropdown-menu .header {
	background-color: rgba(141, 146, 147, 0.1);
	position: relative;
}
.dropdown.notification .dropdown-menu .header .title {
	padding: 1.2rem;
	text-align: left;
	font-size: 1.6em;
}
.dropdown.notification .dropdown-menu .header .markall {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: auto;
	font: caption;
	font-size: 12px;
	line-height: 51px;
	padding-right: 10px;
	cursor: pointer;
	font-weight: bold;
	opacity: 0.5;
}
.dropdown.notification .dropdown-menu .header .markall:hover {
	opacity: 1;
}
.navbar .navbar-collapse .navbar-nav > li.dropdown .dropdown-menu {
	min-width: 150px;
}
.navbar .navbar-collapse .navbar-nav > li.dropdown .dropdown-menu > ul > li {
	height: 34px;
	line-height: 34px;
}
.navbar .navbar-collapse .navbar-nav > li.dropdown .dropdown-menu > ul > li a {
	padding-top: 0px;
	padding-bottom: 0px;
}
.dropdown.notification .dropdown-menu {
	width: 300px;
}
.navbar .navbar-collapse .navbar-nav > li.dropdown.notification .dropdown-menu > ul > li {
	height: 100%;
	padding: 7px 15px;
	line-height: 24px;
	font-weight: 400;
	cursor: pointer;
}
.navbar .navbar-collapse .navbar-nav > li.dropdown.notification .dropdown-menu > ul > li a {
	padding: 0px;
	font-size: inherit;
	background-color: transparent;
}
.navbar .navbar-collapse .navbar-nav > li.dropdown.notification .dropdown-menu > ul > li:not(.empty):hover {
	background-color: rgba(141, 146, 147, 0.15);
}
.navbar .navbar-collapse .navbar-nav > li.dropdown.notification .dropdown-menu > ul > li.empty {
	text-align: center;
	height: 51px;
	line-height: 51px;
	padding: 0px 15px;
	cursor: auto;
}
.navbar .navbar-collapse .navbar-nav > li.dropdown.notification .dropdown-menu > ul > li.all {
	text-align: center;
	line-height: 28px;
	height: 28px;
	padding: 0px 15px;
	font-weight: bold;
}

/*
Animated skeleton screen using CSS.

Create shapes using gradients that simulate solids.

Use `:empty` pseduo-class to show skeleton screen background only while container has no content (ex: for the "loading" state). When content is added to the container element, the pseudo-class selector won't match anymore and the skeleton screen will be removed automatically; no need to toggle a separate class on the container.

See: https://developer.mozilla.org/en-US/docs/Web/CSS/:empty

Animating one layer of the background which is a tilted linear gradient with white in the middle to achieve shine effect.
*/
.demo:empty {
	margin: auto;
	width: 280px;
	height: 50px; /* change height to see repeat-y behavior */

	background-image:
			linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ),
	linear-gradient(lightgray 20px, transparent 0),
	linear-gradient(lightgray 20px, transparent 0);

	background-repeat: repeat-y;

	background-size:
			50px 200px, /* highlight */
			250px 200px,
	150px 200px;

	background-position:
			0 0, /* highlight */
			0px 0px,
	0px 30px;

	animation: shine 1s infinite;
}

@keyframes shine {
	to {
		background-position:
				100% 0, /* move highlight to right */
				0px 0px,
		0px 30px;
	}
}



.container {
	width: 200px;
	height: 100%;
	margin: 0 auto 0;
}

.pulse {
	animation: pulse 3s infinite cubic-bezier(0.66, 0, 0, 1);
	animation-iteration-count: 1;
}
@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(144, 238, 144, 0.8);
	}
	70% {
		-webkit-box-shadow: 0 0 0 30px rgba(144, 238, 144, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(144, 238, 144, 0);
	}
}
@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(144, 238, 144, 0.8);
		box-shadow: 0 0 0 0 rgba(144, 238, 144, 0.8);
	}
	70% {
		-moz-box-shadow: 0 0 0 30px rgba(144, 238, 144, 0);
		box-shadow: 0 0 0 30px rgba(144, 238, 144, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(144, 238, 144, 0);
		box-shadow: 0 0 0 0 rgba(144, 238, 144, 0);
	}
}

div.dataTables_wrapper div.dataTables_processing {
	z-index: 1;
}

.chart-card > .card-header > .nav-tabs > li > a {
	line-height: 17px;
	font-size: 15px;
}

.btn-google {
	position: relative;
	background: #FFFFFF!important;
	border-color: #FFFFFF!important;
	color: #000000!important;
}

.btn-google img {
	position: absolute;
	height: 40px;
	top: 0;
	left: 0;
}